main {
    display:flex;
    flex-direction: column;
    place-items: center;
    margin: 0 auto;
}

section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

section img{
    max-width: 350px;
}